{% extends 'base.html' %}

{% block title %}
	test template
{% endblock %}

{% block content %}
<form action="" method="GET">
    <div class="form-group">
      <label for="inputAddress">UTM address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="123.234.123.234" {% if utm.address %} value="{{utm.address}}" {% endif %}>
    </div>
       
    <input type="submit" class="btn btn-primary btn-lg" value="Save">
    <a href="{% url 'clear_docs' %}" class="btn btn-primary btn-lg" role="button">Clear</a>
    <a href="{% url 'reload_docs' %}" class="btn btn-primary btn-lg" role="button">Reload</a>
</form>

{% endblock %}